
 <p>请先登陆</p>
 <form id="form" method="post" action="userinfo.php">
                <input type="email" name="email" id="email" required autofocus>
                <label for="email">Email</label>

                <input type="password" name="password" id="password" required>
                <label for="password">Password</label>

                <button type="submit">Login</button>

            </form>
 