 <p>请填写您想新建的项目</p>
 <form id="form" method="post" action="sdb.php">
                <label for="email">邮箱</label>
                <input type="email" name="email" id="email" required>
                
                <label for="password">密码</label>
                <input type="password" name="password" id="password" required>
                

                <label for="new_sdb">您想新建的项目内容是：</label>
                <textarea name="new-sdb" id="new-sdb" required autofocus></textarea>
                

                <button type="submit">确认提交</button>

            </form>