{% for l in library %}

    <ul>
    <li class="sdbName">名称 {{l.name}}</li>
    <li class="sdbDes">{{l.description}}</li>
    <li class="sdbPrice">价格 {{l.price}}</li>
    <li class="sdbCoun">国家 {{l.contry}}</li>
    </ul>


{% endfor %}